In [4]:
list=[1,2,3,4,5,6,7,8,9,10]

In [5]:
for num in list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [7]:
tuple=(1,3,5,7,9,11,13,14,16,17,18)

In [14]:
for nums in tuple:
    print(nums)

1
3
5
7
9
11
13
14
16
17
18

In [15]:
fruits=['apple','banana','guava','mango','pineapple']

In [16]:
for fruit in fruits:
    print(fruit)

apple
banana
guava
mango
pineapple

In [17]:
sring=("PYTHON")

In [19]:
for char in sring:
    print(char)

P
Y
T
H
O
N

In [22]:
for char in range(9):
    print(char)

0
1
2
3
4
5
6
7
8

In [23]:
dict={'name':'Dhammadeep',"add":"pune","no":9370700124}

In [29]:
for info in dict:
    print(info,dict[info])

name Dhammadeep
add pune
no 9370700124

In [28]:
person = {"name": "Alice", "age": 25}
for key in person:
    print(key, person[key])
# Output:
# name Alice
# age 25

name Alice
age 25

In [31]:
for num in list:
    if num==5:
        print("found")

found

In [52]:
num1=77
num2=43
num3=44

In [49]:
if num1>num2 and num1>num3:
    print('num1 is greater')
elif num2>num3 and num2>num1:
    print("num 2 is greater")
else:
    print('num3 is greater')

num3 is greater

In [53]:
if num1%2==0:
    print("The number is even")
else:
    print("The number is odd")

The number is odd

In [60]:
marks=64

if marks>=90:
    print('A')
elif marks>=80:
    print('B')
elif marks>=60:
    print('c')
elif marks>=40:
    print('d')
else:
    print('Fail')

c

In [74]:
list1=[1,2,3,4,5]
addition=0
for sum in list1:
    addition +=sum
print(addition)

15

In [76]:
n = int(input("Enter a number n: "))

Enter a number n:  32323