In [2]:
data=[(1,'Ashu','Pune'),(2,'Prajwal','Gaon'),(3,'Devansh','Mumbai')]

In [3]:
data

[(1, 'Ashu', 'Pune'), (2, 'Prajwal', 'Gaon'), (3, 'Devansh', 'Mumbai')]

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dppzee\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\dppzee\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dppzee\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dppzee\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dppzee\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dppzee\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
pd.DataFrame(data)

   0        1       2
0  1     Ashu    Pune
1  2  Prajwal    Gaon
2  3  Devansh  Mumbai

In [7]:
pwd

'C:\\Users\\Dppzee'

In [46]:
df =  pd.read_excel('Demo.xlsx', sheet_name='Sheet1')

In [47]:
df

   num1   num2  num3
0   242   2442   243
1  2425    646  4343
2   444  44442    24
3  2422    244   244